.new-roadmap-area {
  max-width: 800px;
  margin-top: 50px;

  .form-area {
    background-color: rgba(211, 214, 214, 0.274);
    padding: 30px;
    border-radius: 20px;
    border: solid 2px rgba(149, 153, 153, 0.137);

    button {
      display: block;
      width: max-content;
      margin: 0  auto;
      padding: 8px 40px !important;
      background: #40c340;
      border: none;
    }
  }
}