@import '../../../../styles.scss';
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");


.nav-bar {
  height: 250px;
  background-image: url("../../../../assets/img/aviao-easytravelbg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .transparent-bg {
    background-color: rgba(0, 0, 0, 0.356);
    height: 250px;
  }

  .title {
    font-family: $title-font;
    font-size: 70px;
    color: rgb(235, 235, 235);
    cursor: pointer;
  }

  border-bottom: solid 3px #FFF;
  color: #FFF;

  h3 {
    font-size: 14px;
    cursor: pointer;
  }

  h3:hover {
    color: rgba(255, 255, 255, 0.753);
  }

  .user-area {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    font-weight: 500;
    font-family: "Open Sans", sans-serif;

    .account {
      border-right: solid 2px #FFF;
    }
  }
}

.sub-navbar {
  height: 50px;
  background: rgba(5,109,187,1) ;
  color: #FFF;
  font-weight: 600;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;

  .row {
    div {
      height: 50px;
      display: grid;
      align-content: center;
      cursor: pointer;
    }

    div:hover {
      transition: calc(0.5s);
      background: $dark-carrot-orange-theme;
      transform: scale(1.04);
    }
  }

  .col-sm {
    font-family: "Open Sans", sans-serif;

  }
}

section {
  height: calc(100vh - 220px);
}