<section class="content container" *ngFor="let item of arrRoadmap">

    <div class="mt-4 d-flex justify-content-center">
      <div class="card col-md-9">
        <h5 class="card-header">{{ item.name }}</h5>
        <div class="card-body">
          
          <p>Data de Inicio: {{item.initialDate}}</p>
          <p>Data Final: {{item.finalDate}}</p>

          <div class="buttons-area d-flex">
            <a class="btn btn-danger mt-3 p-1" (click)="deleteRoadmap(item.id)">Excluir</a>
          </div>
        </div>
      </div>
    </div>

</section>